
<div class="new_transaction_record">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Provider:</strong>
    <%= @transaction_record.provider_id %>
  </p>

  <p>
    <strong>Reciver:</strong>
    <%= @transaction_record.reciver_id %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= @transaction_record.credit %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= @transaction_record.review %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @transaction_record.comments %>
  </p>

  <%= link_to 'Edit', edit_transaction_record_path(@transaction_record) %> |
  <%= link_to 'Back', transaction_records_path %>
</div>
