<%# form_with(model: conversation, local: true) do |form| %>

<%= form_for conversation, :html => { :multipart => true } do |form| %>

  <% if conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="new_transaction_record">
  <div class="field">
    <%= form.label :sender %>
    <%= form.text_field :sender_id, id: :user_name %>
  </div>


  <div class="field">
    <%= form.label :helper %>
    <%= form.number_field :helper_id, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
