<%= form_with(model: bank, local: true) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :bank_user_id %>
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.number_field :credit, id: :bank_credit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
