<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bank.user_id %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @bank.credit %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
