
<div class="container latest">
  <div class="row">
    <div class="col-md-7">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <p>
      <strong>Skills:</strong>
      <%= @user.skill %>
    </p>
    <p><Strong>Credits:</strong> <%= @user.providers.sum(:credit).round %></p>
  </div>

    <p>
      <strong>Image:</strong>
      <br>
      <% if @user.image.present? %>
        <%= image_tag @user.image.thumb.url %>
      <% else %>
        <%= image_tag('avatar-default.png') %>
      <% end %>
    </p>
  <div class="col-md-6">
    <!-- Geolocation -->
    <div class="maps">
      <img ><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %></img>
    </div>
</div>
    <!-- Send Message buttom -->
    <div class="buttoms">
      <% if @current_user.present? %>
      <div class="buttoms">
      <button><%= link_to 'Send Message', new_conversation_path %></button><br>
      </div>
      <div class="buttoms">
      <button><%= link_to 'Finish and comment your last deal',new_transaction_record_path %></button><br>
      <% end %>

    </div>
      <div class="buttoms">
      <!-- Back buttom -->
      <button> <%= link_to 'Back', users_path %></buttom>
    </div>
</div>

<!-- RATING  Stars -->
<div class="rating">
  <h3>Rating of <%= @user.name %> </h3>
  <% if @user.providers.present? %>
    <% @user.providers.average(:review).round.times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
  <% end %>
</div>


<!-- History -->
  <div class="record">
      <h3>History</h3>
      <div class="provider">
      <h4><%= @user.name %> as a provider</h4>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>

              <th>Provider</th>
              <th>Reciver</th>
              <th>Review</th>
              <th>Credit</th>
            </tr>
          </thead>

          <tbody>
            <% @transaction_record.each do |transaction_record| %>
          <% if transaction_record.provider == @user  %>
            <tr>
              <td><%= transaction_record.provider.name %></td>
              <td><%= transaction_record.reciver.name %></td>
              <td><%= transaction_record.review %></td>
              <td><%= transaction_record.credit %></td>

            </tr>
          <% end %>
        <% end %>
          </tbody>
        </table>


      </div>

    <div class="reciver-table">
    <h4>Reviews as a receiver</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Reciver</th>
            <th>Review</th>
            <th>Credit</th>
          </tr>
        </thead>

        <tbody>
          <% @transaction_record.each do |transaction_record| %>
        <% if  transaction_record.reciver == @user %>
          <tr>
            <td><%= transaction_record.provider.name %></td>
            <td><%= transaction_record.reciver.name %></td>
            <td><%= transaction_record.review %></td>
            <td><%= transaction_record.credit %></td>

          </tr>
        <% end %>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>

<div class="comments">
  <div class="comments-sender">
    <h4>Sent messages</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sender</th><br>
          <th>Helper</th>
          <th>Messages</th>
        </tr>
      </thead>
      <tbody>
        <% @conversation.each do |conversation| %>
        <% if conversation.sender_id == @user.id %>
          <tr>
            <td><%= conversation.sender.name %></td>
            <td><%= conversation.helper.name %></td>
            <td><%= conversation.comments %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="coments-helper">
      <h4>Recived messages</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sender</th><br>
            <th>Helper</th>
            <th>Messages</th>
          </tr>
        </thead>
        <tbody>
          <% @conversation.each do |conversation| %>
          <% if conversation.helper_id == @user.id %>
            <tr>
              <td><%= conversation.sender.name %></td>
              <td><%= conversation.helper.name %></td>
              <td><%= conversation.comments %></td>
            </tr>
            <% end %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>

</div>

</div>

<!-- sdfs -->
