<!DOCTYPE html>
<html>
  <head>
    <title>BankOfTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav">
      <nav>
        <div class="main_nav">
          <ul>
            <li style="color:lightblue"><%= link_to 'Home', root_path %></li>


            <% if @current_user.present?%>
            <li style="color:lightblue"><%= link_to "#{ @current_user.name }'s profile",  @current_user %></li>
            <% else %></li>
            <li style="color:lightblue"><%= link_to 'Transaction Record', users_path %></li>
            <% end %>
            <li style="color:lightblue"><%= link_to 'Profiles', users_path %></li>
          </ul>
        </div>
        <div class="signup_nav">
          <ul>
          <li>
            <% if @current_user.present?%>
              <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete', :class => 'small-signin' %>
            <% else %></li>
            <li><%= link_to 'Sign up', new_user_path %><%= link_to 'Log in', login_path %></li>
            <!-- <li><%= link_to 'Log in', login_path %></li> -->
          </ul>
          <% end %>
        </div>
      </nav>
    </header>



    <div>
        <%= yield %>
    </div>


    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Bank Of Time</h3>

        <p class="footer-links">
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Profiles', users_path %>

        </p>

        <p class="footer-company-name">Bank of Time &copy; 2018</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>21 Revolution Street</span> Sydney, Australia</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+61 455 123456</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="bankoftime@company.com">support@bankoftime.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          It is a system of exchange of services for services or favors for favors.
          It offers the advantage of fostering social relations and equality between
           different economic strata</p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook">Facebook</i></a><br>
          <a href="#"><i class="fa fa-twitter">Twiter</i></a>

        </div>

      </div>

    </footer>
  </body>
</html>
